/*
Note: This file showcases the default theme. It works with the globals.css file to provide the theme for the application.

Use the documentation located in /docs to learn more about the theme system.

https://uicolors.app/create is a great resource for creating color palettes for TailwindCSS.

This default theme contains a light mode and dark mode.
Dark mode is set by the Tailwind Configuration.
*/

@tailwind base;

@layer base {

    /* Default Light Mode */
    :root {
        /* Primary Colors */
        --primary-color-950: 255 255 255;
        --primary-color-900: 207 207 207;
        --primary-color-800: 186 186 186;
        --primary-color-700: 156 156 156;
        --primary-color-600: 120 120 120;
        --primary-color-500: 92 92 92;
        --primary-color-400: 69 69 69;
        --primary-color-300: 48 48 48;
        --primary-color-200: 36 36 36;
        --primary-color-100: 28 28 28;
        --primary-color-50: 8 8 8;

        /* Secondary Colors */
        --secondary-color-950: 255 255 255;
        --secondary-color-900: 240 240 240;
        --secondary-color-800: 219 219 219;
        --secondary-color-700: 189 189 189;
        --secondary-color-600: 153 153 153;
        --secondary-color-500: 125 125 125;
        --secondary-color-400: 102 102 102;
        --secondary-color-300: 82 82 82;
        --secondary-color-200: 69 69 69;
        --secondary-color-100: 61 61 61;
        --secondary-color-50: 8 8 8;
    }

    /* Default Dark Mode */
    @media (prefers-color-scheme: dark) {
        :root {
            /* Primary Colors */
            --primary-color-950: 8 8 8;
            --primary-color-900: 28 28 28;
            --primary-color-800: 36 36 36;
            --primary-color-700: 48 48 48;
            --primary-color-600: 69 69 69;
            --primary-color-500: 92 92 92;
            --primary-color-400: 120 120 120;
            --primary-color-300: 156 156 156;
            --primary-color-200: 186 186 186;
            --primary-color-100: 207 207 207;
            --primary-color-50: 255 255 255;

            /* Secondary Colors */
            --secondary-color-950: 41 41 41;
            --secondary-color-900: 61 61 61;
            --secondary-color-800: 69 69 69;
            --secondary-color-700: 82 82 82;
            --secondary-color-600: 102 102 102;
            --secondary-color-500: 125 125 125;
            --secondary-color-400: 153 153 153;
            --secondary-color-300: 189 189 189;
            --secondary-color-200: 219 219 219;
            --secondary-color-100: 240 240 240;
            --secondary-color-50: 255 255 255;
        }
    }
}