:root[data-theme="midnight"] {
    /* Primary Colors */
    --primary-color-950: 0 0 0;
    --primary-color-900: 10 10 10;
    --primary-color-800: 18 18 18;
    --primary-color-700: 28 28 28;
    --primary-color-600: 41 41 41;
    --primary-color-500: 59 59 59;
    --primary-color-400: 84 84 84;
    --primary-color-300: 125 125 125;
    --primary-color-200: 158 158 158;
    --primary-color-100: 211 211 211;
    --primary-color-50: 255 255 255;

    /* Secondary Colors */
    --secondary-color-950: 0 0 0;
    --secondary-color-900: 10 10 10;
    --secondary-color-800: 18 18 18;
    --secondary-color-700: 28 28 28;
    --secondary-color-600: 41 41 41;
    --secondary-color-500: 59 59 59;
    --secondary-color-400: 84 84 84;
    --secondary-color-300: 125 125 125;
    --secondary-color-200: 158 158 158;
    --secondary-color-100: 181 181 181;
    --secondary-color-50: 194 194 194;
}