:root[data-theme="midnight"] {
    /* Primary Colors */
    --primary-color-950: #000000;
    --primary-color-900: #0a0a0a;
    --primary-color-800: #121212;
    --primary-color-700: #1c1c1c;
    --primary-color-600: #292929;
    --primary-color-500: #3b3b3b;
    --primary-color-400: #545454;
    --primary-color-300: #7d7d7d;
    --primary-color-200: #9e9e9e;
    --primary-color-100: #d3d3d3;
    --primary-color-50: #ffffff;

    /* Secondary Colors */
    --secondary-color-950: #000000;
    --secondary-color-900: #0a0a0a;
    --secondary-color-800: #121212;
    --secondary-color-700: #1c1c1c;
    --secondary-color-600: #292929;
    --secondary-color-500: #3b3b3b;
    --secondary-color-400: #545454;
    --secondary-color-300: #7d7d7d;
    --secondary-color-200: #9e9e9e;
    --secondary-color-100: #b5b5b5;
    --secondary-color-50: #c2c2c2;
}